<h1>Nueva Empresa</h1>
<form action="/empresas/create" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="">Razón Social :</label>
    <div class="controls">
      <input type="text" name="razon_social" id="empresa_razon_social" value="" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="">CUIT :</label>
    <div class="controls">
      <input type="text" name="cuit" id="empresa_cuit" value="" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="">Domicilio :</label>
    <div class="controls">
      <input type="text" name="domicilio" id="empresa_domicilio" value="" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="">Localidad :</label>
    <div class="controls">
      <select name="localidad_id" id="empresa_localidad_id">
        <% @localidades.each do |l| %>
          <option value="<%= l.id %>"><%= l.nombre %></option>
        <% end %>
      </select>
    </div>
  </div>
  <button type="submit" class="btn">Crear</button>
</form>
