<h1>Seleccionar Empresa de Trabajo</h1>

<table class="table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Razón Social</th>
      <th>CUIT</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |e| %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.razon_social %></td>
        <td><%= e.cuit %></td>
        <td>
          <a class="btn btn-default" href="/empresas/<%= e.id%>/home">Seleccionar</a>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
